@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Find a free work point</h1>
    <p class="lead">Scan the QR Code to begin.</p>
</div>

<div class="row">
    @for (var i = 1; i <= ViewBag.NumLevels; i++)
    {
        <div class="col-md-2 col-sm-4 col-xs-6">
            <h2><a href="~/Floor/FloorDetails/@i" class="btn btn-primary btn-lg">Level @i &raquo;</a></h2>
        </div>
    }
</div>
